<div class="content">
  <div class="content-top"></div>
  <div class="content-bottom">
    <div class="user-container">
      <div class="user-top">
        <fa name="random" (click)="getRandomUser()" size="2x"></fa>
      </div>
      <div class="user-bottom">
        <div class="user-photo">
          <img src='{{randomuser.picture.medium}}'>
        </div>
        <div class="user-details">
          <div class="details-header">
            <h3>{{selected.Title}}</h3>
          </div>
          <div class="detail">
            <h3>{{selected.Value}}</h3>
          </div>
          <div class="details-options">
            <table>
              <tbody>
                <tr>
                  <td *ngFor="let detail of liDetails" [ngClass]="{'active' : detail.Active}">
                    <fa name="{{detail.Icon}}" (mouseenter)="mouseEnter(detail) " size="3x"></fa>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>